spring:
  application:
    name: loan-service

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/easy_bank
    username: postgres
    password: postgres

build:
  version: "Default"

server:
  port: 9000
#  servlet:
#    context-path: /cards

management:
  endpoints:
    web:
      exposure:
        include: "*"

  endpoint:
    shutdown:
      access: unrestricted

  info:
    env:
      enabled: true

eureka:
  instance:
    prefer-ip-address: true

  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8070/eureka/

info:
  app:
    name: "cards"
    description: "Banking Cards Application"
    version: "1.0.0"