spring:
  application:
    name: account-service

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/easy_bank
    username: postgres
    password: postgres

server:
  port: 8080
#  servlet:
#    context-path: "/accounts"

build:
  version: "Default"

accounts:
  message: "Welcome to AccountService related local APIs"
  contactDetails:
    name: "Son Tung"
    email: "123@gmail.com"
  onCallSupport:
    - 0123123123
    - 0234234234

management:
  endpoints:
    web:
      exposure:
        include: "*"

# Setup endpoint to shut down the microservice manually for the Eureka register IP observation
  endpoint:
    shutdown:
      access: unrestricted

  info:
    env:
      enabled: true

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8070/eureka/

info:
  app:
    name: "accounts"
    description: "Banking Account Application"
    version: "1.0.0"