server:
  port: 8070

eureka:
  instance:
    hostname: localhost

  client:
    fetchRegistry: false
    registerWithEureka: false
    serviceUrl:
      defaultZone: httpq://${eureka.instance.hostname}:${server.port}/eureka/